# Used by deploy/test scripts and hardhat config
DEPLOYER_PRIVATE_KEY=
ISSUER_ADDRESS=
ALLOWED=true

# Optional network settings (hardhat.config.ts also reads backend/.env)
RPC_URL=http://127.0.0.1:8545


CERTIFICATE_REGISTRY_ADDRESS=0x8902C800138d987E37157fEEF767C93cB664A7CB
RPC_URL=https://sepolia.gateway.tenderly.co
ISSUER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
